*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

        /* body */
body{
    color: #333;
    background-color: #f9f9f9;
}

        /*  main */
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

        /* header */
header{
    background-color: #bad9ed;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #847a7a;
    border-radius: 5px;
}

header h1{
    font-size: 20px;
    color:rgb(104, 0, 202)
}

        /* navbar */
nav{
    display: flex;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #c0edf7bc;
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #8a2be2;
    border-radius: 5px;
}

nav a:hover{
    background-color: rgb(52, 152, 219);
    color:white;
}

         /*  hero */
.hero{
    text-align: center;
    color:rgb(255, 255, 255);
    background: linear-gradient(rgb(8, 139, 176));
    padding: 60px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.hero h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin: 0 auto;
}

           /* about */
#about{
    margin-bottom: 50px;
}

.about-container {
background-color: rgb(249, 242, 242);
padding: 30px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #2c3e50;
}

.about img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
    margin: 0 auto 30px;
    border: 3px solid rgba(75, 189, 242, 0.993);
}

.about p{
    margin-bottom: 15px;
    font-size: 16px;
}
 
      /* project  */
.project {
    margin-bottom: 50px;
}

.project h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(41, 90, 116)
}

.project p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 17px;
}

article{
    background-color: white;
    padding:2px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

article h3{
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

article p{
    margin-bottom: 15px;
}

article h4{
    margin: 15px 20px 10px;
    color: rgb(15, 75, 103);
}
article ol{
    margin-left: 40px;
    margin-bottom: 20px;
}

article a{
    display: flex;
    align-items: center;
    color:rgb(30, 18, 18);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

article a:hover {
    background-color: rgba(41, 110, 156, 0.776);
}

article a img{
    width:20px;
    margin-right: 10px;
}

.project a:active{
    color: green;
}

 
/* contact  */
.contact {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.contact h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    color: rgb(58, 100, 123);
    width: 100%;
}

.contact p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16.2px;
    width: 100%;
}

form {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    min-width: 280px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

form button {
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.397);
}

.contact-container {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 280px;
}

.contact-container p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-container a {
    color: rgb(52, 152, 219);
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

      /* footer */
footer{
    text-align: center;
    background-color: #210d41;
    padding: 30px 0;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

footer p{
    font-size: 16px;
    margin-bottom: 20px;
    color:#f5eeee;
}

footer h5{
    font-size: 16px;
    margin-bottom: 20px;
    color:#f5eeee;
}
footer a {
    margin:0 10px;
    display: inline-block;
}

footer a img{
    width: 30px;
    height: 30px;
}

footer a:hover{
    background-color:#3498db;
    border: 2px solid rgb(153, 135, 255);
}

footer .top{
display: block;
color: white;
 margin-top: 20px;
 text-decoration: none;
}
